# Virtual Environment
.venv/
venv/
env/

# Python
pycache/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store



